html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    body {
      background-image: url('../img/em_construcao.jpg');
      background-size: cover;       
      background-position: center;  
      background-repeat: no-repeat; 
      overflow: hidden;             
    }